.home-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.15;
  filter: blur(10px);
  mix-blend-mode: lighten;
}

.page-container {
  width: 52.5%;
  height: 100vh;
  margin-left: 47.5%;
  padding-right: 15%;
  padding-top: 20px;
}

.p-font {
  font-size: 100%;
}

.section-font {
  color: white;
  font-weight: 500;
  font-size: 140%;
}

.subsection-font {
  color: white;
  font-size: 110%;
}

.ssubsection-font {
  font-size: 110%;
  opacity: 0.75;
}

.link-font {
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: underline;
}

.link-font:hover {
  color: violet;
}

.spacer {
  padding-bottom: 55vh;
}

@media screen and (max-width: 1000px) {
  .home-container {
    display: contents;
  }
  .page-container {
    width: 100%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin: 0px;
  }
}
