.carousel-black {
  filter: invert(1);
}

span .carousel {
  opacity: 0;
}

.yt-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.yt-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}