.sidebar-container {
  position: fixed;
  width: 50%;
  height: 100vh;
  padding-top: 10vh;
  padding-left: 12.5%;
}

.sidebar-option {
  height: 6vh;
  align-content: center;
  cursor: pointer;
  opacity: 0.75;
  transition: font-size 0.3s ease, font-weight 0.3s ease;
}

.sidebar-option:not(.active-section):hover {
  font-size: 125%;
}

.active-section {
  font-weight: bold;
  opacity: 1;
  font-size: 150%;
}
